* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

:root {
    --container-width: 1150px;
    --section-width: 980px;
    --color-darkblue: #112141;
    --color-orange: #BA9066;
    --color-darkred: #B70F0B;
    --color-gray: #646464;
}
a{
    text-decoration: none;
}
#menu a{
    color: #f2f2f2;
}
a:hover {
    opacity: 0.8;
}
.container {
    position: relative;
    width: var(--container-width);
    margin: 0 auto;
    overflow: auto;
}
section {
    position: relative;
    width: var(--section-width);
    margin: 0 auto;
}
body{
    min-width: 150vh;
    background-image: url(/Demo3/images/bg-top.jpg),url(/Demo3/images/bg-bottom.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top,left bottom;
    background-color: #f2f2f2;
}
#menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#menu .space {
    width: 200px !important;
}
#menu a {
    font-family: Cambria;
    font-size: 1.1rem;
}
#menu > li {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 0 0 20px;
}
#menu > li:first-child {
    border-left: 0;
}
#section-1 {
    margin-top: 470px;
    display: grid;
    grid-template-columns: 240px 490px 250px;
    column-gap: 8px;
    border: 3px solid var(--color-darkblue);
    background-color: var(--color-darkblue);
}
#long-den {
    position: absolute;
    top: 0;
    left: -80px;
}
.left-buttons {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 125px 62px 62px;
    row-gap: 2px;
}
#tai-game{
    background-image: url(/Demo3/images/btn_taigame.jpg);
    background-repeat: no-repeat;
}
#dang-ky,#nap-the{
    background-image: url(/Demo3/images/buttons-left.png);
    background-repeat: no-repeat;
}

#dang-ky {
    background-position: 0 -2px;
}
#dang-ky:hover {
    background-position: -248px -2px;
}
#nap-the {
    background-position: 0 -66px;
}
#nap-the:hover {
    background-position: -248px -66px;
}
.right-buttons {
    display: grid;
    grid-template-columns: 113px auto;
    grid-template-rows: 103px 103px 38px;
    gap: 3px;
}
#giang-ho, #ho-tro, #nap-vang, #nap-vip {
    background-image: url(/Demo3/images/buttons-right.png);
    background-repeat: no-repeat;
}
#giang-ho {
    background-position: 0 -8px;
}
#ho-tro {
    background-position: -118px -8px;
}
#nap-vang {
    background-position: 0 -120px;
}
#nap-vip {
    background-position: -118px -120px;
}
#hotline {
    background-image: url(/Demo3/images/hotline.png);
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1/3;
}
.section-2 {
    display: grid;
    grid-template-columns: 720px 230px ;
    gap: 8px;
 }
.right-content {
    position: relative;
    overflow: auto;
    display: grid;
}
 .left-content {
    position: relative;
    overflow: auto;
    display: grid;
    grid-template-rows: 80px 682px;
    margin-top: 5px;
 }
#section-2-top-buttons {
    position: relative;
    overflow: auto;
    display: grid;
    min-height: auto;
    grid-template-columns: 250px 252px 250px;
}
#cuu-am-lenh, #vinh-danh-vip, #nhap-vip-code {
    background-image: url(/Demo3/images/cuuamlenh-vip-giftcode.png);
    background-repeat: no-repeat;
}
#cuu-am-lenh {
    background-position: 0 0;
}
#vinh-danh-vip {
    background-position: -249px 0;
}
#nhap-vip-code {
    background-position: -501px 0
}
.post {
    position: relative;
    overflow: auto;
    display: grid;
    min-height: auto;
    grid-template-rows: 55px 600px;
    margin-top: 8px;
}
.post-header {
    position: relative;
    overflow: auto;
    min-height: 55px;
}
.post-category {
    position: relative;
    overflow: auto;
    display: flex;
    height: 100%;
    background-image: url(/Demo3/images/news-header-bg.png);
    width: 742px;
}
.post-category a {
    color: var(--color-orange) ;
    font-family: Cambria;
    font-size: 1.4rem;
}
.post-category > li {
    padding-top: 15px;
    padding-left: 20px;
    list-style: none;
}
.post-category > li:first-child {
    color: #fff;
}
.post-body {
    position: relative;
    overflow: auto;
    width: 742px;
    border-bottom: 10px solid var(--color-darkblue);
    border-left: 10px solid var(--color-darkblue);
    border-right: 10px solid var(--color-darkblue);
    /* display: grid;
    grid-template-rows: 146px 146px 146px 64px; */
}
.post-body > div {
    padding: 13px 0 0 13px;
} 
.post-item {
    position: relative;
    overflow: auto;
    display: flex;
}
.post-item > img {
    border: 5px solid var(--color-orange);
    width: 145px;
}
.post-content {
    margin-left: 18px;
}
h1 {
    color: #B70F0B;
    border-left: 5px solid #B70F0B;
    font-size: 1.5rem;
    padding-left: 10px;
}
.small {
    color: var(--color-gray);
    font-size: 1rem
}
p {
    color: var(--color-gray);
    font-size: 1.1rem;
}
.post-links {
    position: relative;
    overflow: auto;
}
.post-links > a {
    background-color: var(--color-darkblue);
    border:3px solid var(--color-gray);
    color: var(--color-gray);
}
 .right-content {
    position: relative;
    overflow: auto;
    display: grid;
    grid-template-columns: 228px;
    grid-template-rows: repeat(5, 52px);
    row-gap: 5px;
    background-color: var(--color-darkblue);
} 
#section-2-right-buttons {
    display: grid;
    grid-template-columns: 228px;
    grid-template-rows: repeat(5, 52px);
    row-gap: 5px;
    background-color: var(--color-darkblue);
 }
#bao-dien, #mon-phai, #tan-thu,#vo-hoc,#pvc-pet {
    background-image: url(/Demo3/images/links-right.png);
    background-repeat: no-repeat;
}
#bao-dien{
    margin-top: 2px;
    background-position: 0 5px;
}
#mon-phai{
    background-position: 0 -60px;
}
#tan-thu{
    background-position: 0 -120px;
}
#vo-hoc{
    background-position: 0 -175px;
}
#pvc-pet{
    background-position: 0 -235px;
}
#footer{
    display: flex;
    justify-content: space-between;
}
#footer-logo{
    margin-left: 150px ;
}
#footer-info{
    margin-left: 130px ;
}